.box {
  border: 1px solid #ffffff05;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_random {
  background-color: #ffffff10;
  border: 1px solid #ffffff13;
  cursor: pointer;
}
